<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name="ru.samtakoy.platform.speech.PlayCardsAudioBroadcastReceiver"
            android:exported="false">

            <intent-filter>
                <action android:name="ru.samtakoy.action.PAUSE" />
                <action android:name="ru.samtakoy.action.RESUME" />
                <action android:name="ru.samtakoy.action.NEXT" />
                <action android:name="ru.samtakoy.action.PREVIOUS" />
                <action android:name="ru.samtakoy.action.STOP" />
            </intent-filter>
        </receiver>
    </application>

</manifest>