*.iml
.gradle
.idea
.kotlin
build
.idea/
.kotlin/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/iosApp/iosApp.xcodeproj/xcuserdata/samtakot.xcuserdatad/xcschemes/xcschememanagement.plist
/iosApp/iosApp.xcodeproj/project.xcworkspace/xcuserdata/samtakot.xcuserdatad/UserInterfaceState.xcuserstate
/iosApp/iosApp.xcodeproj/xcshareddata/xcschemes/iosApp.xcscheme
/iosApp/android.env
